torch==1.7.1
transformers==4.5.1
IPython
pandas
ir_datasets
textattack
protobuf
python-terrier
trectools
git+https://github.com/Georgetown-IR-Lab/OpenNIR
git+https://github.com/terrierteam/pyterrier_doc2query.git
git+https://github.com/terrierteam/pyterrier_t5